.formRows {

    label {

        span {
            width: 200px;
            flex-grow: 1;

            &+* {
                flex-grow: 3;
            }
        }
    }
}

label.inline {
    input {
        display: inline-block;
    }
}

.hidden {
    display: none !important;
}

.flip {
    transform: rotate(180deg);
}

.hoverRow:hover {
    background-color: #0003;
}

th[dir="asc"]::after {
    content: " ↑";
}

th[dir="desc"]::after {
    content: " ↓";
}

.space-2 *+* {
    margin-left: 0.5rem;
}

fab-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.recipe-card {
    border: 1px solid #999;
    padding: 2px 10px;
    margin-bottom: 2px;
    border-radius: 4px;
}

.recipe-card:hover {
    border-color: var(--color-link);
}

.block {
    display: block;
}

button.active {
    border: 2px solid yellow;
}

.floaties>* {
    float: left;
    min-width: 246px;
    max-width: 246px;
    margin: 2px;
}

.b-icon {
    max-height: 0.5rem;
    max-width: 0.5rem;
    font-size: 1rem;
    line-height: 1rem;
    background-color: white;
    min-width: 2px;
    min-height: 2px;
    border: 1px solid black;
    border-radius: 100%;
    aspect-ratio: 1;
    padding: 1px;
}

.sender-icon {
    background-color: red;
}

.receiver-icon {
    background-color: blue;
}

.tp-icon {
    background-color: yellow;
}

.core-icon {
    background-color: hotpink;
}

.zip-icon {
    max-height: 0.33rem;
    max-width: 0.33rem;
    background-color: cyan;
    padding: 0px;
}

.highlight {
    outline-style: solid !important;
    outline: 2px solid greenyellow;
}